<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>
    
    {%- include footer.html -%}

    <script src="https://cdn.plyr.io/3.6.4/plyr.js"></script>
    <script>/*<![CDATA[*/const players = Array.from(document.querySelectorAll('.js-player')).map(player => new Plyr(player));/*]]>*/</script>

    <!--- START OF CPX24 CODE --->
<script type=text/javascript>
var _cpp = _cpp || [];
_cpp['source_id'] = '85518';
_cpp['pop_type'] = '11';
_cpp['onePer'] = '1';
_cpp['freq'] = '0';
_cpp['fb'] = '01';
(function() {
var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
hs.src = ('//cdn1.adcdnx.com/s/adp1v3.js');
var cs = document.getElementsByTagName('script')[0];
cs.parentNode.insertBefore(hs, cs);
})();</script>
<!--- END OF CPX24 CODE --->			
    </body>

</html>
